@import 'src/sass/variables';
@import 'src/sass/mixins';

.search { 
	display: flex;
	justify-content: center;
	align-items: center;  
	background-color: $background-color-search; 
	min-height: 65px; 

	&__wrapper {
		display: flex; 
		justify-content: space-between;
		background-color: $background-color-secondary;
		margin: 0 20vw; 
		padding: 0 10px;
		min-height: 40px;
		width: 100%;  

		> div {
			display: flex;
			align-items: center;
			
			@include mobile() {
				flex-wrap: wrap;
			}

			input {
				background-color: $background-color-secondary; 
				border: none;
				width: 200px;
				color: white;

				@include mobile() {
					margin: 10px;
				}

				&:focus {
					outline: none;
				}
			}
		}
	}

	&__icon {
		align-self: center;
		color: white;

		@include mobile() {
			align-self: flex-end;
			margin-bottom: 10px;
		}
	}

	&__results {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-right: 15px;
	}

	&__tag {
		display: flex;
		justify-content: space-between;
		margin: 5px;
		background-color: #9BA2AA;

		p {
			padding-left: 10px;
			align-self: center;
			color: white;
		}
	}

	&__btn {
		&--remove {
			background: none;
			border: none;
			padding: 7px 10px !important;

			&:focus, &:active {
				outline: none !important;
			}
		}
	}
}