<app-weather-search 
  (searchForCityForecast)="onSearchForCityForecast($event)"
  (deleteCityForecast)="onDeleteCityForecast($event)"
>
</app-weather-search>
<div class="weather-list">
  <div class="weather-item card" *ngFor="let city of cityList; trackBy: city?.id">
    <div class="card-body" [routerLink]="['forecast', city.id]">
      <div> 
        <h4>{{ city.name }}</h4> 
        <p>{{ today | amDateFormat:'MMMM Do' }}</p>
      </div> 
      <div> 
        <h3>{{ city.main.temp - 273 | number : '1.0-0' }} <span>&#8451;</span></h3> 
        <p>{{ city.weather[0].main }}</p> 
      </div> 
      <div> 
        <p class="humidity">Humidity: {{ city.main.humidity }}%</p> 
        <p>Wind: {{ city.wind.speed }}km/h</p> 
      </div> 
    </div>
  </div>
</div>
