@import 'src/sass/variables';

.weather {
  &-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 70px 10vw 0;
  }

  &-item {
    flex-basis: 32%;
    margin: 0 5px 30px;

    > div {
      display: flex;
      justify-content: space-between;

      h3 {
        display: flex;
        margin-bottom: 5px;

        span {
          position: relative;
          left: 3px;
          bottom: 8px;
          font-size: 40%;
        }
      }

      h6 {
        margin-bottom: 5px;
      }

      p {
        color: $text-color-primary;

        &.humidity {
          margin-bottom: 5px;
        }
      }
    }
  }
}